.supplierViewOrdersLabel{
    font-weight: 500;
}
.supplierViewOrdersBtns{
    width:100px;
    margin-top: 8px;
}
.SupplierViewOrdersEditHeadings{
    color:blue;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0.7;
    
}
.SupplierViewOrdersDeleteHeadings{
    color:rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: underline;
    opacity: 0.7;
    
}
.SupplierViewOrdersEditHeadings:hover,.SupplierViewOrdersDeleteHeadings:hover{
    cursor: pointer;
    opacity: 1;
}
.supplierOrderSerachErrorMsg{
    color:red;
    font-size: 12px;
    font-weight: bold;
}
.supplierOrderHeaderBackground{
    padding: 10px;
    background-color: #f0ad4e;
}