.supplierAddOrderFormSubmitBtn{
    width:200px;
    
}
.supplierAddOrderFormLabel{
    font-weight: 500;
}

.supplirAddOrderHeadingBackground{
    background-color: whitesmoke;
}

.supplierAddOrderH3{
    padding: 20px;
    color:#ffc107;
}
.supplierAddOrderErrorMsg{
    color: red;
    font-size: 12px;
    font-weight: bolder;
    
}

.supplierAddOrderForm{
    margin-left: 8%;
    margin-right: 30%;
    display: block;
    border:1px #ffc107 dashed;
    padding: 20px;
}